<div class="current-reaction">
  <% if tweet.current_reaction_level(current_user).present? %>
    <%= image_tag "reactions/#{tweet.current_reaction_level(current_user).name.downcase}.png", class: 'current-reaction-image' %>
  <% end %>
</div>